[Unit]
Description=substrate-node-template Bob Node
Documentation=https://github.com/substrate-developer-hub/substrate-node-template/
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Restart=on-abnormal
User=substrate
Group=users
ExecStart=/home/substrate/node-template --base-path /home/substrate/node_data --chain local --bob --telemetry-url ws://{{ hostvars[groups['abnet_telemetry'][0]]['ansible_default_ipv4']['address'] }}:8000/submit --bootnodes /ip4/{{ hostvars[groups['abnet_alice'][0]]['ansible_default_ipv4']['address'] }}/tcp/30333/p2p/{{ hostvars[groups['abnet_alice'][0]]['nodeid']['stdout'] }}

[Install]
WantedBy=multi-user.target
