[Unit]
Description=substrate-node-template Alice Node
Documentation=https://github.com/substrate-developer-hub/substrate-node-template/
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Restart=on-abnormal
User=substrate
Group=users
ExecStart=/home/substrate/node-template --base-path /home/substrate/node_data --chain local --alice --telemetry-url ws://{{ hostvars[groups['abnet_telemetry'][0]]['ansible_default_ipv4']['address'] }}:8000/submit

[Install]
WantedBy=multi-user.target
